	body,
	html {
		margin:0;
		padding:0;

	}
	#wrap {
		max-width:1024px;
		margin:0 auto;
	}
	#header {
    	padding:5px 10px;

	}
	h1 {
	    margin:0;
    }
	#nav {
		padding:5px 10px;

	}
	#nav ul {
		margin:0;
		padding:0;
		list-style:none;
	}
	#nav li {
		display:inline;
		margin:0;
		padding:0;
	}
	#main {
		float:right;
		width:60%;
		padding:10px;
	
	}
	h2 {
		margin:0 0 1em;
	}
	#sidebar {
		float:left;
		width:30%;
		padding:10px;

	}
	#footer {
		clear:both;
		padding:5px 10px;

	}
	#footer p {
		margin:0;
    }
	* html #footer {
		height:1px;
	}